<div class="" id="meetProfile">
  <div class="jumbotron col-xs-10 col-xs-offset-1">
    <div id="notLoggedIn"class="text-center" ng-show="!$rootScope.uid"><h3>You must <a ng-controller="AuthCtrl" ng-href="#" ng-click="authenticate()">sign in</a> to meet</div>
    <div id="loggedin" ng-show="$rootScope.uid">
    <h2>Meets</h2>
    <div id="searchHistory" class="col-xs-12">
      <h4> Search History </h4>
      <div id="meet" class="col-xs-10s" ng-repeat="meet in meets">
      <span class="glyphicon glyphicon-map-marker col-xs-1" aria-hidden="true"></span>
      <p class="col-xs-3"> {{meet.meetName}} </p><p class="col-xs-3">{{meet.location.address}}</p>
      <p> {{meet.marker1.address}} | {{meet.marker2.address}}</p>
      <a ng-click = "saveMeet(meet)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
      </div>
    </div>
    <hr>
    <div id="savedMeets" class="col-xs-12">
      <h4> Saved Meets </h4>
        <div id="meet" class="col-xs-12" ng-repeat="meet in meets" ng-show="meet.saved" >
          <div class = "col-xs-12">
            <a class="col-xs-1" ng-click = "viewMeet(meet.marker1.meetid)"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a><p class="col-xs-3">{{meet.name}}<p>
            <p class="col-xs-5">{{meet.location.address}}</p>
            <a class="edit col-xs-1" ng-click = "editMeet(meet)"><span class="glyphicon glyphicon-edit " aria-hidden="true"></span></a>
            <a class="erase col-xs-1" ng-click = "eraseMeet(meet.marker1.meetid)"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></a>
          </div>
          <div class = "col-xs-12">
            <h5 class="col-xs-12"> {{meet.marker1.address}} | {{meet.marker2.address}}</h5>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
