<div class="container-fluid" id="meetHere">
   <container class="container jumbotron col-xs-10 col-xs-offset-1">
      <h1>Meet Here</h1>
     <div id="map"></div>
     <div id="meetDetails" >
       <h3>{{meet.location.address.$$state.value.data.results["0"].formatted_address}}</h3>
       <p> You are coming from {{meet.marker1.address}} and you are meeting someone coming from {{meet.marker2.address}}. You are meeting in the middle based on distance and it will take you both 2 hours.</p>
     </div>
     <button type="submit" class="btn btn-default  col-xs-3 col-xs-offset-3" ng-click="meetNowDetails(meet)">Change Meet</a></button>
     <button type="submit" class="btn btn-default  col-xs-3" ng-click="saveDetail(meet)">Save Meet</a></button>
   </container>
</div>
