<div class="" id="meetProfile">
  <div class="jumbotron col-md-10 col-md-offset-1">
    <div id="notLoggedIn"class="text-center" ng-show="!navbar"><h3>You must <a ng-controller="AuthCtrl" ng-href="#" ng-click="authenticate()">sign in</a> to meet here</div>
    <div id="loggedin" ng-show="navbar">
    <h2>Meets</h2>
    <div id="searchHistory" class="col-md-12" ng-hide="meet.saved">
      <h4> Search History <font size="-2">(scroll for more)</font><span> </h4>
      <div class=history-container>
        <div  class="history container-fluid" ng-repeat="meet in meets">
          <div class="row historyInfo">
            <a  class="col-md-1 text-right" ng-click = "viewMeet(meet.marker1.meetid)"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
            <p class="meetName col-md-3">{{meet.name}}</p>
            <p class="col-md-5 text-left">{{meet.location.address}}</p>
            <a class="erase col-md-3" ng-click = "eraseMeet(meet.marker1.meetid)">Remove from History</a>
          </div>
          <div class="locationInfo container-fluid">
            <h5 class="row col-md-offset-1">Location 1: {{meet.marker1.address}} | Location 2: {{meet.marker2.address}}
            <hr>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="savedMeets" class="col-md-12">
      <h4> Saved Meets </h4>
        <div class="meet container-fluid" ng-repeat="meet in meets" ng-show="meet.saved" >
          <div class="row meetInfo">
            <a  class="col-md-1 text-right" ng-click = "viewMeet(meet.marker1.meetid)"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
            <p class="meetName col-md-3">{{meet.name}}</p>
            <p class="col-md-5 text-left">{{meet.location.address}}</p>
            <a class="edit col-md-1" ng-click = "editMeet(meet)"><span class="glyphicon glyphicon-edit " aria-hidden="true"></span></a>
            <a class="erase col-md-1" ng-click = "eraseMeet(meet.marker1.meetid)"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></a>
          </div>
          <div class="locationInfo container-fluid">
            <h5 class="row col-md-offset-1">Location 1: {{meet.marker1.address}} | Location 2: {{meet.marker2.address}}
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
