<div class="container-fluid" id="meetNow">
  <div class="jumbotron col-xs-10 col-xs-offset-1">
    <form name="meetNow" validate>

    <p>Meet In</p>
    <select class="form-control form-group" ng-model="meet.min" required>
      <option>5 min</option>
      <option>10 min</option>
      <option>15 min</option>
      <option>20 min</option>
      <option>25 min</option>
      <option>30 min</option>
      <option>35 min</option>
    </select>

    <p>Location 1</p>
    <input type="text" id="useCurrentLocation" class="form-control form-group" placeholder="500 Interstate Blvd S, Nashville, TN 37210, USA" ng-model="meet.marker1">
    <button type="submit" class="btn btn-default col-xs-3 col-xs-offset-9" ng-click="useCurrentLocation()">Use Current Location</a></button>

    <p>Location 2</p>
    <input type="text" id="autocomplete" onFocus="geolocate()" class="form-control form-group" placeholder="1010 Murfreesboro Road, Franklin, TN, United States"  ng-model="meet.marker2">

    <p>Meet Name</p>
    <input type="text" id="name" class="form-control form-group" placeholder="(optional) Christmas With Family"  ng-model="meet.name">

    <button type="submit" class="btn btn-default btn-lg col-xs-6 col-xs-offset-3" ng-click="meetNowDetails(meet)" ng-hide="meet.edit">Meet Where</a></button>
    <button type="submit" class="btn btn-default btn-lg col-xs-6 col-xs-offset-3" ng-click="updateMeetNowDetails(meet)" ng-show="meet.edit">Update Where</a></button>
  </div>
</div>
